.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-heading {
  border: none;
  color: #95E837;
  font-weight: 200;
}

.ack {
  font-size: 10px;
  color: lightgray;
}
