.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
    height: 46px;
}

mat-sidenav.sidebar-panel {
    width: 10rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.cr-brand {
  font-weight: 200;
}
